Source: fdpr-wrap
Section: devel
Priority: extra
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)
Maintainer: Daniel Kreling <dbkreling@br.ibm.com>

Package: fdpr-wrap
Architecture: ppc64el
Depends:libc6 (>= 2.3), libgtk2.0-0
Description: IBM(R) FDPR wrapper scripts
 IBM(R) Feedback Directed Program Restructing Wrapper scripts for running FDPR under IBM SDK for Linux on Power.
